subflow/hue-color.json
[
  {
    "id": "c946ec75.bea71",
    "type": "subflow",
    "name": "Hue Color",
    "info": "",
    "category": "",
    "in": [{ "x": 60, "y": 80, "wires": [{ "id": "809e4a29.f399f8" }] }],
    "out": [
      { "x": 340, "y": 80, "wires": [{ "id": "809e4a29.f399f8", "port": 0 }] }
    ],
    "env": [
      {
        "name": "Color",
        "type": "str",
        "value": "",
        "ui": {
          "type": "select",
          "opts": {
            "opts": [
              { "l": { "en-US": "Red 50" }, "v": "ffebee" },
              { "l": { "en-US": "Red 100" }, "v": "ffcdd2" },
              { "l": { "en-US": "Red 50" }, "v": "ffebee" },
              { "l": { "en-US": "Red 100" }, "v": "ffcdd2" },
              { "l": { "en-US": "Red 200" }, "v": "ef9a9a" },
              { "l": { "en-US": "Red 300" }, "v": "e57373" },
              { "l": { "en-US": "Red 400" }, "v": "ef5350" },
              { "l": { "en-US": "Red 500" }, "v": "f44336" },
              { "l": { "en-US": "Red 600" }, "v": "e53935" },
              { "l": { "en-US": "Red 700" }, "v": "d32f2f" },
              { "l": { "en-US": "Red 800" }, "v": "c62828" },
              { "l": { "en-US": "Red 900" }, "v": "b71c1c" },
              { "l": { "en-US": "Red a100" }, "v": "ff8a80" },
              { "l": { "en-US": "Red a200" }, "v": "ff5252" },
              { "l": { "en-US": "Red a400" }, "v": "ff1744" },
              { "l": { "en-US": "Red a700" }, "v": "d50000" },

              { "l": { "en-US": "Pink 50" }, "v": "fce4ec" },
              { "l": { "en-US": "Pink 100" }, "v": "f8bbd0" },
              { "l": { "en-US": "Pink 200" }, "v": "f48fb1" },
              { "l": { "en-US": "Pink 300" }, "v": "f06292" },
              { "l": { "en-US": "Pink 400" }, "v": "ec407a" },
              { "l": { "en-US": "Pink 500" }, "v": "e91e63" },
              { "l": { "en-US": "Pink 600" }, "v": "d81b60" },
              { "l": { "en-US": "Pink 700" }, "v": "c2185b" },
              { "l": { "en-US": "Pink 800" }, "v": "ad1457" },
              { "l": { "en-US": "Pink 900" }, "v": "880e4f" },
              { "l": { "en-US": "Pink a100" }, "v": "ff80ab" },
              { "l": { "en-US": "Pink a200" }, "v": "ff4081" },
              { "l": { "en-US": "Pink a400" }, "v": "f50057" },
              { "l": { "en-US": "Pink a700" }, "v": "c51162" },

              { "l": { "en-US": "Purple 50" }, "v": "f3e5f5" },
              { "l": { "en-US": "Purple 100" }, "v": "e1bee7" },
              { "l": { "en-US": "Purple 200" }, "v": "ce93d8" },
              { "l": { "en-US": "Purple 300" }, "v": "ba68c8" },
              { "l": { "en-US": "Purple 400" }, "v": "ab47bc" },
              { "l": { "en-US": "Purple 500" }, "v": "9c27b0" },
              { "l": { "en-US": "Purple 600" }, "v": "8e24aa" },
              { "l": { "en-US": "Purple 700" }, "v": "7b1fa2" },
              { "l": { "en-US": "Purple 800" }, "v": "6a1b9a" },
              { "l": { "en-US": "Purple 900" }, "v": "4a148c" },
              { "l": { "en-US": "Purple a100" }, "v": "ea80fc" },
              { "l": { "en-US": "Purple a200" }, "v": "e040fb" },
              { "l": { "en-US": "Purple a400" }, "v": "d500f9" },
              { "l": { "en-US": "Purple a700" }, "v": "aa00ff" },

              { "l": { "en-US": "Deep Purple 50" }, "v": "ede7f6" },
              { "l": { "en-US": "Deep Purple 100" }, "v": "d1c4e9" },
              { "l": { "en-US": "Deep Purple 200" }, "v": "b39ddb" },
              { "l": { "en-US": "Deep Purple 300" }, "v": "9575cd" },
              { "l": { "en-US": "Deep Purple 400" }, "v": "7e57c2" },
              { "l": { "en-US": "Deep Purple 500" }, "v": "673ab7" },
              { "l": { "en-US": "Deep Purple 600" }, "v": "5e35b1" },
              { "l": { "en-US": "Deep Purple 700" }, "v": "512da8" },
              { "l": { "en-US": "Deep Purple 800" }, "v": "4527a0" },
              { "l": { "en-US": "Deep Purple 900" }, "v": "311b92" },
              { "l": { "en-US": "Deep Purple a100" }, "v": "b388ff" },
              { "l": { "en-US": "Deep Purple a200" }, "v": "7c4dff" },
              { "l": { "en-US": "Deep Purple a400" }, "v": "651fff" },
              { "l": { "en-US": "Deep Purple a700" }, "v": "6200ea" },

              { "l": { "en-US": "Indigo 50" }, "v": "e8eaf6" },
              { "l": { "en-US": "Indigo 100" }, "v": "c5cae9" },
              { "l": { "en-US": "Indigo 200" }, "v": "9fa8da" },
              { "l": { "en-US": "Indigo 300" }, "v": "7986cb" },
              { "l": { "en-US": "Indigo 400" }, "v": "5c6bc0" },
              { "l": { "en-US": "Indigo 500" }, "v": "3f51b5" },
              { "l": { "en-US": "Indigo 600" }, "v": "3949ab" },
              { "l": { "en-US": "Indigo 700" }, "v": "303f9f" },
              { "l": { "en-US": "Indigo 800" }, "v": "283593" },
              { "l": { "en-US": "Indigo 900" }, "v": "1a237e" },
              { "l": { "en-US": "Indigo a100" }, "v": "8c9eff" },
              { "l": { "en-US": "Indigo a200" }, "v": "536dfe" },
              { "l": { "en-US": "Indigo a400" }, "v": "3d5afe" },
              { "l": { "en-US": "Indigo a700" }, "v": "304ffe" },

              { "l": { "en-US": "Blue 50" }, "v": "e3f2fd" },
              { "l": { "en-US": "Blue 100" }, "v": "bbdefb" },
              { "l": { "en-US": "Blue 200" }, "v": "90caf9" },
              { "l": { "en-US": "Blue 300" }, "v": "64b5f6" },
              { "l": { "en-US": "Blue 400" }, "v": "42a5f5" },
              { "l": { "en-US": "Blue 500" }, "v": "2196f3" },
              { "l": { "en-US": "Blue 600" }, "v": "1e88e5" },
              { "l": { "en-US": "Blue 700" }, "v": "1976d2" },
              { "l": { "en-US": "Blue 800" }, "v": "1565c0" },
              { "l": { "en-US": "Blue 900" }, "v": "0d47a1" },
              { "l": { "en-US": "Blue a100" }, "v": "82b1ff" },
              { "l": { "en-US": "Blue a200" }, "v": "448aff" },
              { "l": { "en-US": "Blue a400" }, "v": "2979ff" },
              { "l": { "en-US": "Blue a700" }, "v": "2962ff" },

              { "l": { "en-US": "Light Blue 50" }, "v": "e1f5fe" },
              { "l": { "en-US": "Light Blue 100" }, "v": "b3e5fc" },
              { "l": { "en-US": "Light Blue 200" }, "v": "81d4fa" },
              { "l": { "en-US": "Light Blue 300" }, "v": "4fc3f7" },
              { "l": { "en-US": "Light Blue 400" }, "v": "29b6f6" },
              { "l": { "en-US": "Light Blue 500" }, "v": "03a9f4" },
              { "l": { "en-US": "Light Blue 600" }, "v": "039be5" },
              { "l": { "en-US": "Light Blue 700" }, "v": "0288d1" },
              { "l": { "en-US": "Light Blue 800" }, "v": "0277bd" },
              { "l": { "en-US": "Light Blue 900" }, "v": "01579b" },
              { "l": { "en-US": "Light Blue a100" }, "v": "80d8ff" },
              { "l": { "en-US": "Light Blue a200" }, "v": "40c4ff" },
              { "l": { "en-US": "Light Blue a400" }, "v": "00b0ff" },
              { "l": { "en-US": "Light Blue a700" }, "v": "0091ea" },

              { "l": { "en-US": "Cyan 50" }, "v": "e0f7fa" },
              { "l": { "en-US": "Cyan 100" }, "v": "b2ebf2" },
              { "l": { "en-US": "Cyan 200" }, "v": "80deea" },
              { "l": { "en-US": "Cyan 300" }, "v": "4dd0e1" },
              { "l": { "en-US": "Cyan 400" }, "v": "26c6da" },
              { "l": { "en-US": "Cyan 500" }, "v": "00bcd4" },
              { "l": { "en-US": "Cyan 600" }, "v": "00acc1" },
              { "l": { "en-US": "Cyan 700" }, "v": "0097a7" },
              { "l": { "en-US": "Cyan 800" }, "v": "00838f" },
              { "l": { "en-US": "Cyan 900" }, "v": "006064" },
              { "l": { "en-US": "Cyan a100" }, "v": "84ffff" },
              { "l": { "en-US": "Cyan a200" }, "v": "18ffff" },
              { "l": { "en-US": "Cyan a400" }, "v": "00e5ff" },
              { "l": { "en-US": "Cyan a700" }, "v": "00b8d4" },

              { "l": { "en-US": "Teal 50" }, "v": "e0f2f1" },
              { "l": { "en-US": "Teal 100" }, "v": "b2dfdb" },
              { "l": { "en-US": "Teal 200" }, "v": "80cbc4" },
              { "l": { "en-US": "Teal 300" }, "v": "4db6ac" },
              { "l": { "en-US": "Teal 400" }, "v": "26a69a" },
              { "l": { "en-US": "Teal 500" }, "v": "009688" },
              { "l": { "en-US": "Teal 600" }, "v": "00897b" },
              { "l": { "en-US": "Teal 700" }, "v": "00796b" },
              { "l": { "en-US": "Teal 800" }, "v": "00695c" },
              { "l": { "en-US": "Teal 900" }, "v": "004d40" },
              { "l": { "en-US": "Teal a100" }, "v": "a7ffeb" },
              { "l": { "en-US": "Teal a200" }, "v": "64ffda" },
              { "l": { "en-US": "Teal a400" }, "v": "1de9b6" },
              { "l": { "en-US": "Teal a700" }, "v": "00bfa5" },

              { "l": { "en-US": "Green 50" }, "v": "e8f5e9" },
              { "l": { "en-US": "Green 100" }, "v": "c8e6c9" },
              { "l": { "en-US": "Green 200" }, "v": "a5d6a7" },
              { "l": { "en-US": "Green 300" }, "v": "81c784" },
              { "l": { "en-US": "Green 400" }, "v": "66bb6a" },
              { "l": { "en-US": "Green 500" }, "v": "4caf50" },
              { "l": { "en-US": "Green 600" }, "v": "43a047" },
              { "l": { "en-US": "Green 700" }, "v": "388e3c" },
              { "l": { "en-US": "Green 800" }, "v": "2e7d32" },
              { "l": { "en-US": "Green 900" }, "v": "1b5e20" },
              { "l": { "en-US": "Green a100" }, "v": "b9f6ca" },
              { "l": { "en-US": "Green a200" }, "v": "69f0ae" },
              { "l": { "en-US": "Green a400" }, "v": "00e676" },
              { "l": { "en-US": "Green a700" }, "v": "00c853" },

              { "l": { "en-US": "Light Green 50" }, "v": "f1f8e9" },
              { "l": { "en-US": "Light Green 100" }, "v": "dcedc8" },
              { "l": { "en-US": "Light Green 200" }, "v": "c5e1a5" },
              { "l": { "en-US": "Light Green 300" }, "v": "aed581" },
              { "l": { "en-US": "Light Green 400" }, "v": "9ccc65" },
              { "l": { "en-US": "Light Green 500" }, "v": "8bc34a" },
              { "l": { "en-US": "Light Green 600" }, "v": "7cb342" },
              { "l": { "en-US": "Light Green 700" }, "v": "689f38" },
              { "l": { "en-US": "Light Green 800" }, "v": "558b2f" },
              { "l": { "en-US": "Light Green 900" }, "v": "33691e" },
              { "l": { "en-US": "Light Green a100" }, "v": "ccff90" },
              { "l": { "en-US": "Light Green a200" }, "v": "b2ff59" },
              { "l": { "en-US": "Light Green a400" }, "v": "76ff03" },
              { "l": { "en-US": "Light Green a700" }, "v": "64dd17" },

              { "l": { "en-US": "Lime 50" }, "v": "f9fbe7" },
              { "l": { "en-US": "Lime 100" }, "v": "f0f4c3" },
              { "l": { "en-US": "Lime 200" }, "v": "e6ee9c" },
              { "l": { "en-US": "Lime 300" }, "v": "dce775" },
              { "l": { "en-US": "Lime 400" }, "v": "d4e157" },
              { "l": { "en-US": "Lime 500" }, "v": "cddc39" },
              { "l": { "en-US": "Lime 600" }, "v": "c0ca33" },
              { "l": { "en-US": "Lime 700" }, "v": "afb42b" },
              { "l": { "en-US": "Lime 800" }, "v": "9e9d24" },
              { "l": { "en-US": "Lime 900" }, "v": "827717" },
              { "l": { "en-US": "Lime a100" }, "v": "f4ff81" },
              { "l": { "en-US": "Lime a200" }, "v": "eeff41" },
              { "l": { "en-US": "Lime a400" }, "v": "c6ff00" },
              { "l": { "en-US": "Lime a700" }, "v": "aeea00" },
              { "l": { "en-US": "Yellow 50" }, "v": "fffde7" },

              { "l": { "en-US": "Yellow 100" }, "v": "fff9c4" },
              { "l": { "en-US": "Yellow 200" }, "v": "fff59d" },
              { "l": { "en-US": "Yellow 300" }, "v": "fff176" },
              { "l": { "en-US": "Yellow 400" }, "v": "ffee58" },
              { "l": { "en-US": "Yellow 500" }, "v": "ffeb3b" },
              { "l": { "en-US": "Yellow 600" }, "v": "fdd835" },
              { "l": { "en-US": "Yellow 700" }, "v": "fbc02d" },
              { "l": { "en-US": "Yellow 800" }, "v": "f9a825" },
              { "l": { "en-US": "Yellow 900" }, "v": "f57f17" },
              { "l": { "en-US": "Yellow a100" }, "v": "ffff8d" },
              { "l": { "en-US": "Yellow a200" }, "v": "ffff00" },
              { "l": { "en-US": "Yellow a400" }, "v": "ffea00" },
              { "l": { "en-US": "Yellow a700" }, "v": "ffd600" },

              { "l": { "en-US": "Amber 50" }, "v": "fff8e1" },
              { "l": { "en-US": "Amber 100" }, "v": "ffecb3" },
              { "l": { "en-US": "Amber 200" }, "v": "ffe082" },
              { "l": { "en-US": "Amber 300" }, "v": "ffd54f" },
              { "l": { "en-US": "Amber 400" }, "v": "ffca28" },
              { "l": { "en-US": "Amber 500" }, "v": "ffc107" },
              { "l": { "en-US": "Amber 600" }, "v": "ffb300" },
              { "l": { "en-US": "Amber 700" }, "v": "ffa000" },
              { "l": { "en-US": "Amber 800" }, "v": "ff8f00" },
              { "l": { "en-US": "Amber 900" }, "v": "ff6f00" },
              { "l": { "en-US": "Amber a100" }, "v": "ffe57f" },
              { "l": { "en-US": "Amber a200" }, "v": "ffd740" },
              { "l": { "en-US": "Amber a400" }, "v": "ffc400" },
              { "l": { "en-US": "Amber a700" }, "v": "ffab00" },

              { "l": { "en-US": "Orange 50" }, "v": "fff3e0" },
              { "l": { "en-US": "Orange 100" }, "v": "ffe0b2" },
              { "l": { "en-US": "Orange 200" }, "v": "ffcc80" },
              { "l": { "en-US": "Orange 300" }, "v": "ffb74d" },
              { "l": { "en-US": "Orange 400" }, "v": "ffa726" },
              { "l": { "en-US": "Orange 500" }, "v": "ff9800" },
              { "l": { "en-US": "Orange 600" }, "v": "fb8c00" },
              { "l": { "en-US": "Orange 700" }, "v": "f57c00" },
              { "l": { "en-US": "Orange 800" }, "v": "ef6c00" },
              { "l": { "en-US": "Orange 900" }, "v": "e65100" },
              { "l": { "en-US": "Orange a100" }, "v": "ffd180" },
              { "l": { "en-US": "Orange a200" }, "v": "ffab40" },
              { "l": { "en-US": "Orange a400" }, "v": "ff9100" },
              { "l": { "en-US": "Orange a700" }, "v": "ff6d00" },

              { "l": { "en-US": "Deep Orange 50" }, "v": "fbe9e7" },
              { "l": { "en-US": "Deep Orange 100" }, "v": "ffccbc" },
              { "l": { "en-US": "Deep Orange 200" }, "v": "ffab91" },
              { "l": { "en-US": "Deep Orange 300" }, "v": "ff8a65" },
              { "l": { "en-US": "Deep Orange 400" }, "v": "ff7043" },
              { "l": { "en-US": "Deep Orange 500" }, "v": "ff5722" },
              { "l": { "en-US": "Deep Orange 600" }, "v": "f4511e" },
              { "l": { "en-US": "Deep Orange 700" }, "v": "e64a19" },
              { "l": { "en-US": "Deep Orange 800" }, "v": "d84315" },
              { "l": { "en-US": "Deep Orange 900" }, "v": "bf360c" },
              { "l": { "en-US": "Deep Orange a100" }, "v": "ff9e80" },
              { "l": { "en-US": "Deep Orange a200" }, "v": "ff6e40" },
              { "l": { "en-US": "Deep Orange a400" }, "v": "ff3d00" },
              { "l": { "en-US": "Deep Orange a700" }, "v": "dd2c00" },

              { "l": { "en-US": "Brown 50" }, "v": "efebe9" },
              { "l": { "en-US": "Brown 100" }, "v": "d7ccc8" },
              { "l": { "en-US": "Brown 200" }, "v": "bcaaa4" },
              { "l": { "en-US": "Brown 300" }, "v": "a1887f" },
              { "l": { "en-US": "Brown 400" }, "v": "8d6e63" },
              { "l": { "en-US": "Brown 500" }, "v": "795548" },
              { "l": { "en-US": "Brown 600" }, "v": "6d4c41" },
              { "l": { "en-US": "Brown 700" }, "v": "5d4037" },
              { "l": { "en-US": "Brown 800" }, "v": "4e342e" },
              { "l": { "en-US": "Brown 900" }, "v": "3e2723" },

              { "l": { "en-US": "Grey 50" }, "v": "fafafa" },
              { "l": { "en-US": "Grey 100" }, "v": "f5f5f5" },
              { "l": { "en-US": "Grey 200" }, "v": "eeeeee" },
              { "l": { "en-US": "Grey 300" }, "v": "e0e0e0" },
              { "l": { "en-US": "Grey 400" }, "v": "bdbdbd" },
              { "l": { "en-US": "Grey 500" }, "v": "9e9e9e" },
              { "l": { "en-US": "Grey 600" }, "v": "757575" },
              { "l": { "en-US": "Grey 700" }, "v": "616161" },
              { "l": { "en-US": "Grey 800" }, "v": "424242" },
              { "l": { "en-US": "Grey 900" }, "v": "212121" },

              { "l": { "en-US": "Blue Grey 50" }, "v": "eceff1" },
              { "l": { "en-US": "Blue Grey 100" }, "v": "cfd8dc" },
              { "l": { "en-US": "Blue Grey 200" }, "v": "b0bec5" },
              { "l": { "en-US": "Blue Grey 300" }, "v": "90a4ae" },
              { "l": { "en-US": "Blue Grey 400" }, "v": "78909c" },
              { "l": { "en-US": "Blue Grey 500" }, "v": "607d8b" },
              { "l": { "en-US": "Blue Grey 600" }, "v": "546e7a" },
              { "l": { "en-US": "Blue Grey 700" }, "v": "455a64" },
              { "l": { "en-US": "Blue Grey 800" }, "v": "37474f" },
              { "l": { "en-US": "Blue Grey 900" }, "v": "263238" },

              { "l": { "en-US": "White" }, "v": "ffffff" },
              { "l": { "en-US": "Black" }, "v": "000000" }
            ]
          }
        }
      }
    ],
    "color": "#DDAA99"
  },
  {
    "id": "809e4a29.f399f8",
    "type": "function",
    "z": "c946ec75.bea71",
    "name": "Red 400",
    "func": "if (typeof msg.payload !== \"object\") {\n    msg.payload = {};\n}\nmsg.payload.hex = \"b71c1c\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "897bfb24.a878e8",
    "type": "subflow:c946ec75.bea71",
    "z": "ec665fc9.38dd9",
    "x": 580,
    "y": 620,
    "wires": [["8d7c86d4.3cee48", "c3d9f035.61f2f"]]
  }
]
