data/lib/flows/spotify.json
[{"id":"328f9bfb.667a94","type":"function","z":"fd504da3.00498","name":"getFirstUriFromPlaylists","func":"uri = \"\";\nif (msg.payload.playlists.items.length >= 1) {\n    uri = msg.payload.playlists.items[0].uri;\n}\npayload = {uri: uri};\nreturn {payload: payload};","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["516e94b2.28d74c"]]},{"id":"aec1d6ca.b393a8","type":"function","z":"fd504da3.00498","name":"playUri","func":"msg.params = [\n    {\"context_uri\": msg.payload.uri}\n];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["79406781.89cd78"]]},{"id":"41274915.aedc18","type":"function","z":"fd504da3.00498","name":"formatPayloadForPlaylistSearch","func":"params = [\n    msg.payload,\n    {limit: 1, offset: 0}\n];\nreturn {params: params};","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["cfe38d01.c6a86"]]}]